@font-face {
  font-family: "iconfont"; /* Project id 3167992 */
  src: url('iconfont.woff2?t=1643790648189') format('woff2'),
       url('iconfont.woff?t=1643790648189') format('woff'),
       url('iconfont.ttf?t=1643790648189') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caidan:before {
  content: "\e8ae";
}

.icon-anquan:before {
  content: "\e8af";
}

.icon-bangzhu:before {
  content: "\e8b0";
}

.icon-buganxingqu:before {
  content: "\e8b1";
}

.icon-bofangjilu:before {
  content: "\e8b2";
}

.icon-chuangzuo:before {
  content: "\e8b3";
}

.icon-chenggong:before {
  content: "\e8b4";
}

.icon-dianzan:before {
  content: "\e8b5";
}

.icon-diantong_kai:before {
  content: "\e8b6";
}

.icon-gengduo:before {
  content: "\e8b7";
}

.icon-fuzhi:before {
  content: "\e8b8";
}

.icon-fenxiang:before {
  content: "\e8b9";
}

.icon-huatifuhao:before {
  content: "\e8ba";
}

.icon-huiyuan:before {
  content: "\e8bb";
}

.icon-jianshao:before {
  content: "\e8bc";
}

.icon-huati:before {
  content: "\e8bd";
}

.icon-guanzhu:before {
  content: "\e8be";
}

.icon-saoyisao:before {
  content: "\e8bf";
}

.icon-pinglun:before {
  content: "\e8c0";
}

.icon-shaixuan:before {
  content: "\e8c1";
}

.icon-shezhi:before {
  content: "\e8c2";
}

.icon-shangchuan:before {
  content: "\e8c3";
}

.icon-shibai:before {
  content: "\e8c4";
}

.icon-shijian:before {
  content: "\e8c5";
}

.icon-shoucang:before {
  content: "\e8c6";
}

.icon-shouji:before {
  content: "\e8c7";
}

.icon-shouye:before {
  content: "\e8c8";
}

.icon-shuaxin:before {
  content: "\e8c9";
}

.icon-sousuo:before {
  content: "\e8ca";
}

.icon-tishi:before {
  content: "\e8cb";
}

.icon-weixuanzhong:before {
  content: "\e8cc";
}

.icon-wode:before {
  content: "\e8cd";
}

.icon-xiazai:before {
  content: "\e8ce";
}

.icon-zengjia:before {
  content: "\e8cf";
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-Dyanjing:before {
  content: "\e8ad";
}

